1_create_batches_for_batchBasedMethods/.idea/
1_create_batches_for_batchBasedMethods/__pycache__/
1_create_batches_for_batchBasedMethods/venv/
1_create_batches_for_batchBasedMethods/.vscode/
2_main_code/.idea/
2_main_code/__pycache__/
2_main_code/venv/
2_main_code/.vscode/
